body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#dataForm {
  width: 25rem;

  margin: auto;
  display: grid;
  padding: 1.5rem;
  background-color: rgba(0, 128, 128, 0.473);
}

input,
select,
button {
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
}

button {
  background-color: rgb(2, 121, 121);
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
button:hover {
  background-color: rgb(3, 95, 95);
}
#output {
  width: 25rem;
  margin: auto;
  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}
